@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-main: #121526;
    --bg-aside: #161b2e;
    --bg-secondary: #161c32;
    --bg-third: #242d4d;
    --text-primary: #fff;
    --text-secondary: #b358b9;
    --menu-section-border: #171c2e;
    --blue-color1: #24e7e469;
    --blue-color2: #5284d04f;
    --blue-color3: #175f9e;
    --purple-color1: #e391fc79;
    --purple-color2: #ad8cf596;
    --blue-gradient: #24e7e3, #5284d0;
    --purple-gradient: #d470f3, #9f77f3;
    --active-gradient: linear-gradient(#482d61, #3c3466);
    --new-bg: #d470f3;
    --text-gray: #383e55;
    --pink-bg: #ef85a6;
    --text-black: #000;
    --red-bg: #583b52;
    --blue-bg: #155665;
    --purple-graph: #b200fe;
    --pink-graph: #db12c3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary);
}

.purple-bg {
    background: linear-gradient(to right, var(--purple-gradient));
}

.gradient-blue-bg {
    background: linear-gradient(to right, var(--blue-gradient));
}

.red-bg {
    background-color: var(--red-bg);
}

.blue-bg {
    background-color: var(--blue-bg);
}

.container {
    display: flex;
    min-height: 100dvh;
    background-color: var(--bg-main);
}

aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 3;
    background-color: var(--bg-aside);
}

aside > h4 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-top: 2rem;
}

aside .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .menu .menu-section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem;
    border-top: 5px solid var(--menu-section-border);
}

aside .menu .menu-section:nth-child(1) {
    border: none;
}

aside .menu .menu-section .menu-title, aside .menu .menu-section .menu-item {
    padding: 0.5rem 0rem 0.5rem 3rem;
    min-height: 2.6rem;
}

aside .menu .menu-section .menu-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

aside .menu .menu-section .menu-title span, aside .menu .menu-section .menu-title h5 {
    color: var(--text-secondary);
}

aside .menu .menu-section .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 0.8rem;
    font-weight: 300;
}

.menu-item span.newBadge {
    background-color: var(--new-bg);
    padding: 0.2rem 0.8rem;
    border-radius: 12px;
    margin-right: 3rem;
}

aside .menu .menu-section .menu-item.active {
    background: var(--active-gradient);
}

aside .menu .menu-section .menu-item.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1.2rem;
    border-radius: 4px;
    background: linear-gradient(to bottom, var(--purple-gradient));
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

aside .reportBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2.5rem;
}

aside .reportBox .title {
    display: flex;
    gap: 3rem;
}

aside .reportBox .title div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

aside .reportBox .title div h5 {
    font-size: 0.9rem;
    font-weight: 500;
}

aside .reportBox .title div span {
    font-size: 0.85rem;
    color: var(--text-gray);
}

aside .reportBox .title > span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-bg);
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 0.5rem;
    max-height: 50%;
}

aside .reportBox > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--purple-gradient));
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0 2rem;
    max-width: 85%;
    min-height: 2.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

aside .reportBox > button > span {
    font-size: 1.1rem;
}

main {
    display: flex;
    flex-grow: 1;
    gap: 2.5rem;
    padding: 3.5rem 3.5rem;
}

main .box1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .box1 .cards {
    display: flex;
    gap: 1.5rem;
}

main .box1 .cards .timeCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 8rem;
    gap: 1rem;
    padding: 1.5rem 2.5rem;
    border-radius: 15px;
}

main .box1 .cards .timeCard > div {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
}

main .box1 .cards .timeCard > span {
    z-index: 1;
}

main .box1 .cards .timeCard > div h4 {
    font-size: 2rem;
    font-weight: 600;
}

main .box1 .cards .timeCard > div span {
    font-weight: 300;
}

main .box1 .cards .timeCard::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 6rem;
    height: 100%;
    border-radius: 15px;
    clip-path: circle(4.8rem at left center);
}

main .box1 .cards .timeCard::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 5rem;
    height: 50%;
    border-radius: 15px;
    clip-path: circle(4rem at right bottom);
}

main .box1 .cards .timeCard:nth-child(1)::before {
    background-color: var(--purple-color1);
}

main .box1 .cards .timeCard:nth-child(2)::before {
    background-color: var(--blue-color1);
}

main .box1 .cards .timeCard:nth-child(1)::after {
    background-color: var(--purple-color2);
}

main .box1 .cards .timeCard:nth-child(2)::after {
    background-color: var(--blue-color2);
}

main .box1 .cards .percentageBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

main .box1 .cards .percentageBox .percentageCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
    min-height: 4rem;
    padding: 0 1.5rem;
    border-radius: 20px;
    background-color: var(--bg-secondary);
}

main .box1 .cards .percentageBox .percentageCard .name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .box1 .cards .percentageBox .percentageCard .name span {
    padding: 0.4rem;
    border-radius: 50%;
    color: var(--text-black);
}

main .box1 .cards .percentageBox .percentageCard:nth-child(1) .name span {
    background: linear-gradient(to bottom, var(--pink-bg), var(--new-bg));
}

main .box1 .cards .percentageBox .percentageCard .name h5 {
    font-weight: 400;
}

main .box1 .cards .percentageBox .percentageCard > span {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0.3rem 1rem;
    border-radius: 10px;
}

main .box1 .ticketsCreatedSolvedGraph {
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    padding: 2rem;
    max-width: 55rem;
    min-height: 22rem;
}

main .box1 .graphCardsBox {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

main .box1 .graphCardsBox .graphCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    padding: 1rem;
    width: 48%;
    max-height: 18rem;
}

main .box1 .graphCardsBox .graphCard .custom-legend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    gap: 0.8rem;
}

main .box1 .graphCardsBox .graphCard .chart-wrapper {
    max-width: 14rem;
    max-height: 14rem;
}

main .box1 .graphCardsBox .graphCard .legend-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

main .box1 .graphCardsBox .graphCard .legend-item::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 4px solid var(--pink-graph);
    background-color: transparent;
}

main .box1 .graphCardsBox .graphCard .legend-item:nth-child(1)::before {
    border-color: var(--purple-graph);
}

main .box1 .graphCardsBox .graphCard .legend-text {
    display: flex;
    flex-direction: column;
}

main .box1 .graphCardsBox .graphCard .legend-percent {
    color: var(--text-gray);
    font-size: 0.85rem;
    font-weight: 500;
}

main .box1 .graphCardsBox .graphCard .legend-label {
    font-size: 0.9rem;
    font-weight: 600;
}

main .box2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .box2 .graphBox {
    background-color: var(--bg-secondary);
    border-radius: 15px;
    padding: 2rem;
}

main .box2 .graph1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

main .box2 .graph1 .statementBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    padding: 0 1rem;
    background-color: var(--bg-third);
    border-radius: 4px;
}

main .box2 .graph1 .statementBox > h5 {
    font-weight: 400;
}

main .box2 .graph1 .statementBox > span {
    color: var(--blue-color3);
}

main .box2 .graph1 .graph {
    position: relative;
    width: 100%;
    min-height: 15rem;
}

main .box2 .graph2 {
    position: relative;
    flex-grow: 2;
}