@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-main: #121526;
    --bg-secondary: #161b2e;
    --text-primary: #fff;
    --text-secondary: #61396a;
    --blue-gradient: linear-gradient(#24e7e3, #5284d0);
    --purple-gradient: linear-gradient(#d470f3, #9f77f3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}