@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-main: #121526;
    --bg-secondary: #161b2e;
    --text-primary: #fff;
    --text-secondary: #b358b9;
    --menu-section-border: #171c2e;
    --blue-gradient: linear-gradient(#24e7e3, #5284d0);
    --purple-gradient: linear-gradient(#d470f3, #9f77f3);
    --active-gradient: linear-gradient(#482d61, #3c3466);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary);
}

.container {
    display: flex;
    width: 100%;
    min-height: 100dvh;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    background-color: var(--bg-secondary);
}

aside > h4 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-top: 2rem;
}

aside .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .menu .menu-section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem;
    border-top: 5px solid var(--menu-section-border);
}

aside .menu .menu-section:nth-child(1) {
    border: none;
}

aside .menu .menu-section .menu-title, aside .menu .menu-section .menu-item {
    padding: 0.5rem 0rem 0.5rem 3rem;
    min-height: 2.6rem;
}

aside .menu .menu-section .menu-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

aside .menu .menu-section .menu-title span, aside .menu .menu-section .menu-title h5 {
    color: var(--text-secondary);
}

aside .menu .menu-section .menu-item {
    position: relative;
    font-size: 0.8rem;
    font-weight: 300;
}

aside .menu .menu-section .menu-item.active {
    background: var(--active-gradient);
}

aside .menu .menu-section .menu-item.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1.2rem;
    border-radius: 4px;
    background: var(--purple-gradient);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

main {
    flex-grow: 10;
    background-color: var(--bg-main);
}